<!DOCTYPE html>
<html>
<head>
    <title>Удаление предмета</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }

        h2 {
            margin-bottom: 20px;
        }

        form {
            width: 25%;
            display: inline-block;
            text-align: left;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #dc3545;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 15px;
        }

            button[type="submit"]:hover {
                background-color: #c82333;
            }

        .back-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            float: right;
            width: 40%;
        }

            .back-button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h2>Удаление предмета</h2>
    <form method="post" action="@Url.Action("DeleteSubject", "Subject")">
        <select name="subjectId">
            @foreach (var subject in Model)
            {
                <option value="@subject.SubjectId">@subject.SubjectName</option>
            }
        </select>
        <button type="submit">Удалить</button>
        <a href="@Url.Action("AllSubjectsForm", "Subject")" class="back-button">Назад к списку предметов</a>
    </form>
</body>
</html>
