@{
    ViewBag.Title = "Create Schedule";
}

<h2>Create Schedule</h2>

@using (Html.BeginForm("GenerateSchedule", "Schedule", FormMethod.Post))
{
    <input type="submit" value="Create Schedule" />
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}
